body {
  min-height: 200vh;
}

.logo {
  font-weight: 300;
  padding: 10px;
}

.thin-text {
  font-weight: 300;
  background: rgba(96, 125, 139, .4);
  padding: 40px;
  border-radius: 10px;
  margin-top: 160px;
  margin-left: 100px;
  margin-right: 100px;
}

.section-header {
  font-weight: 300;
}

.cta {
  font-weight: 300;
  text-shadow: 1px 1px black;
}

.contact-form {
  padding-top: 40px;
}

#parallax-one {
  height: 739px;
}

#parallax-two {
  height: 1000px;
}

.page-footer {
  height: 75px;
  text-align: center;
}

.container-one {
  height: 730px;
}

#section-three {
  height: 781px;
}
